  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form,   input[type="number"], legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin:             0;
    padding:            0;
    border:             0;
    font-size:          100%;
    font:               inherit;
    vertical-align:     baseline;
    -webkit-appearance: none;
    -moz-appearance:    none;
    outline:            none;
    border:             1px dotted #444;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    /*display:            block;*/
  }
  body {
    line-height:        1;
  }
  ol, ul {
    list-style:         none;
  }
  blockquote, q {
    quotes:             none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content:            '';
    content:            none;
  }
  table {
    border-collapse:    collapse;
    border-spacing:     0;
  }

  /*
    ============================================================================
      Body
    ============================================================================
  */
  body {
    
    font:               400 11px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    background:         #262626;

    margin:             0;
    padding:            0;
    
    /*overflow:           none;*/
    
  }


  /*
    ============================================================================
      General
    ============================================================================
  */
  .fixed {
    
    position:           fixed;
    
  }

  
  /*
    ============================================================================
      Panes
    ============================================================================
  */
  #header {

    position:           fixed;
    
    height:             35px;
    
    top:                0;
    
    left:               0;
    right:              0;
    
    background:         -webkit-gradient(linear, left top, left bottom, from(#272727), to(#1a1a1a));
    
  }
  
  #footer {
    
    height:             20px;
    
    bottom:             0;
    
    left:               0;
    right:              0;

    background:         -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#272727));

  }

  #middle {
  
    margin:             5px;
    padding:            0;
  
    top:                35px;
    bottom:             1px;
    
    left:               0;
    right:              0;
    
    background:         #000;

  }
  
  #menu-left {

    display:            inline-block;
    
    height:             100%;
    width:              200px;

    /*vertical-align:     top;*/

    overflow:           auto;

  }

  #menu-shapes {
    
    display:            inline-block;

    /*left:200px;*/
    height:             100%;
    width:              34px;
    
    vertical-align:     top;
    
    background:         #000;

  }
  #menu-shapes:hover {
    
    /*background:         blue;*/

  }
  
  #menu-right {

    display:            inline-block;
    
    float:              right;

    height:             100%;
    width:              200px;

    /*vertical-align:     top;*/

    background:         #222;

    overflow:           auto;

  }


  /*
    ============================================================================
      Canvas
    ============================================================================
  */
  #canvas-container {
    
    -webkit-appearance: none;
    
    display:            inline-block;
    position:           relative;
    
    margin:             0;
    padding:            0;
    
    outline:            none;
    
    width:              700px;
    height:             100%;

    vertical-align:     top;
    
    background:         #00ff00;

  }
  
  #canvas {

    -webkit-appearance: none;

    display:            inline-block;
    
    margin:             0;
    padding:            0;
    
    outline:            none;
    
    width:              100%;
    height:             100%;

    /*vertical-align:     top;*/
    
    background:         transparent;

  }
  canvas:hover {
    background:         #111;
  }


  /*
    ============================================================================
      ?????
    ============================================================================
  */
  #menu-left-toggle {
    
    position:           fixed;
    
    top:                0px;
    left:               0px;

  }
  
  #menu-right-toggle {
    
    position:           fixed;
    
    top:                0px;
    right:              0px;

  }

  
  /*
    ============================================================================
    Logo
    ============================================================================
  */
  #logo {
    
    width:              155px;
    
    top:                0;
    left:               0;

    margin:             0 0 0 50px;
    
    font-size:          32px;
    font-weight:        200;
    letter-spacing:     10px;
    line-height:        35px;
    
    text-transform:     uppercase;
    
    color:              #000;

    cursor:             pointer;

  }
  #logo:hover {

    color:              #008282;

    -webkit-transition: All 0.5s ease;
    
  }


  /*
    ============================================================================
    Navigation
    ============================================================================
  */

  .nav {
    text-align:         right;
  }
  
  .primary-nav {
    
    height:             35px;
    margin:             0 30px 0 0;
    
    font-size:          14px;
    font-weight:        400;
    
    letter-spacing:     2px;
    text-transform:     uppercase;

  }
  
  a.header {
    
    display:            inline-block;
    height:             35px;
    
    color:              #fff;
    text-decoration:    none;
    padding:            0 10px;
    margin:             0;
    font-weight:        300;

    line-height:        35px;
    
    background:         transparent;
    /*border:             1px dotted #444;*/
    color:              #000;
    
  }
  a.header:hover {
  
    font-weight:        300;
    
    color:              #008282;
    
  }

  /*
    ============================================================================
      Position
    ============================================================================
  */
  .fixed {

    position:           absolute;

    border:             none;

    outline:            none;

  }

  img.menu {

    display:            inline-block;
    position:           relative;

    margin:             0;
    padding:            0;
    border:             none;

    cursor:             pointer;
    
    width:              30px;
    height:             30px;
    
  }

  /*li {*/
    
  /*  display:            inline-block;*/
    
    /*margin:             10px;*/
    /*padding:            10px;*/
    
  /*  background:         red;*/
    
  /*  height:             30px;*/
  /*  width:              30px;*/

  /*}*/

  /*li:hover {*/

  /*  background:         red;*/

  /*}*/
  
  /* BUTTONS ******************************************************************/
  /*button.menu {*/
    
  /*  border:             1px solid red;*/
    
  /*  margin:             0;*/
  /*  padding:            0;*/
    
  /*  width:              30px;*/
  /*  height:             30px;*/
    
  /*  background:         #000;*/
    
  /*  color:              #333;*/
    
  /*  vertical-align:     top;*/

  /*  cursor:             pointer;*/

  /*}*/
  /*button.menu:hover {*/

  /*  background:         #555;*/

  /*}*/
  
  /*button.menu:active {*/
    
  /*  background:         #777;*/
    
  /*}*/

  button.toggle {

    outline:            none;
    background:         transparent;
    
    border:             none;
    border-radius:      5px;
    
    width:              35px;
    height:             35px;
    cursor:             pointer;

    color:              #444;

  }
  button.toggle:hover {
    
    color:              #fff;
    height:             35px;
    width:              35px;
    
    box-shadow:         0 1px 2px rgba(0,0,0,.5);
    
    -webkit-transition: All 0.5s ease;
    
  }
  button.toggle:active {
    
    /*background:         -webkit-gradient(linear, left top, left bottom, from(#383838), to(#4a4a4a));*/
    
    color:              #888;
    
  }

  button.grid {
    
    -webkit-appearance: none;
    font:               900 14px/16px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    display:            inline;
    position:           relative;

    width:              30px;
    height:             30px;
    
    outline:            none;
    border:             1px solid transparent;
    
    background:         transparent;
    
    cursor:             pointer;

    color:              #777;

    border-radius:      15px;

  }
  button.grid:hover {
    
    border:             1px solid #888;
    color:              #aaa;
    
  }
  button.grid:active {
    
    border:             1px solid yellow;
    
  }
  
  div.display {

    display:          inline-block;
    position:         absolute;

    left:             5px;
    bottom:           5px;
    
    width:            auto;

    background:       transparent;

  }
  
    div.grid-display {

    display:          inline-block;
    position:         absolute;

    left:             150px;
    bottom:           5px;
    
    width:            auto;

    background:       transparent;

  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5 {

    display:            inline-block;

    margin:             0;
    padding:            0;
    
    width:              65px;
    height:             18px;
    line-height:        20px;

  }
  
  .col-1 {

    width:              50%;
    float:              left;
    
  }
  .col-2 {

    width:              50%;
    float:              right;
    
  }

  .col-3 {

    width:              35%;
    float:              left;
    
  }
  .col-4 {

    width:              20px;
    float:              right;

  }
  .col-5 {

    width:              12px;
    float:              right;

  }
  .col-6 {

    width:              12px;
    float:              right;

  }

  /*
    ============================================================================
      Horizontal Line
    ============================================================================
  */
  div.line {
    
    display:            inline-block;
    height:             0;

    margin:             10px 5%;
    
    width:              90%;

    border:             none;
    border-top:         1px groove rgba(255, 255, 255, 0.125);
    
    background:         transparent;
    
  }
  div.property {
  
    /*display:            inline-block;*/
    background:         orange;
    height:             16px;
  }
  
  /*
    ============================================================================
      LABEL
    ============================================================================
  */
  label.property {
    
    /*display:            absolute;*/
    /*position:            relative;*/
    
    font:               400 11px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:              #ccc;

    line-height:        16px;

    /*text-align:         center;*/

  }

  #coordinates {

    position:           absolute;
    
    bottom:             10px;
    right:              10px;
    
    font:               900 14px/16px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing:     1px;
    line-height:        26px;
    
    color:              #aaa;
    
  }

  select {
    
    /*-webkit-appearance: none;*/

    display:            inline-block;

    height:             16px;

    border:             1px solid transparent;
    outline:            none;
    border-top:         1px groove rgba(255, 255, 255, 0.125);
    border-left:         1px groove rgba(255, 255, 255, 0.125);

    font:               400 11px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:              #ccc;
    
    background:         #222;
    
    size:               10;
    line-height:        16px;
    cursor:             pointer;
    
  }
  
  input[type=checkbox] {
    
    display:            none;
  		
  }
  
  input[type=checkbox] + label {
  
    /*display:            inline-block;*/
    
    margin:             0;
    padding:            0;
    
    font-size:          12px;
    line-height:        16px;
    
    height:             16px;
    width:              16px;

    color:              #333;

    text-align:         center;
    text-shadow:        0 1px 1px rgba(255,255,255,0.75);
  	vertical-align:     middle;
    
    cursor:             pointer;
    
    /*background-color:   #f5f5f5;*/
    /*background-image:   -moz-linear-gradient(top,#fff,#e6e6e6);*/
    /*background-image:   -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));*/
    /*background-image:   -webkit-linear-gradient(top,#fff,#e6e6e6);*/
    /*background-image:   -o-linear-gradient(top,#fff,#e6e6e6);*/
    /*background-image:   linear-gradient(to bottom,#fff,#e6e6e6);*/
    /*background-repeat:  repeat-x;*/
    
    border:             1px solid #ccc;
    /*border-color:       #e6e6e6 #e6e6e6 #bfbfbf;*/
  	/*border-color:       rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
  	/*border-bottom-color:#b3b3b3;*/
  	
  	filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  	filter:             progid:DXImageTransform.Microsoft.gradient(enabled=false);
  	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  	/*-moz-box-shadow:    inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);*/
  	/*box-shadow:         inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);*/
  	
  }

  input[type=checkbox]:checked + label{
    
    background-image:   none;
    outline:            0;
    
    /*-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);*/
    /*-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);*/
    /*box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);*/
    
    background-color:#e0e0e0;

  }
