  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form,   input[type="number"], legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin:             0;
    padding:            0;
    border:             0;
    font-size:          100%;
    font:               inherit;
    vertical-align:     baseline;
    -webkit-appearance: none;
    -moz-appearance:    none;
    outline:            none;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display:            block;
  }
  body {
    line-height:        1;
  }
  ol, ul {
    list-style:         none;
  }
  blockquote, q {
    quotes:             none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content:            '';
    content:            none;
  }
  table {
    border-collapse:    collapse;
    border-spacing:     0;
  }

  /*
    ============================================================================
      Body
    ============================================================================
  */
  
  body {
    font:               400 11px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:         none;
    margin:             0;
    padding:            0;
    color:              #888;
  }

  /*
    ============================================================================
      Position
    ============================================================================
  */
  
  .fixed {
    position:           absolute;
    border:             none;
    outline:            none;
  }
  
  /*
    ============================================================================
      Appearance
    ============================================================================
  */
  .shadow {
    box-shadow:         9px 9px 9px rgba(0,0,0,0.25);
  }

  .active {
  }
  .active:hover {
    background:         #595959;
  }

  /*
    ============================================================================
      Header/Footer
    ============================================================================
  */
  #page-header {
    background:         -webkit-gradient(linear, left top, left bottom, from(#272727), to(#1a1a1a));
    padding:            0 30px 0 0;
    width:              100%;
    height:             35px;
  }

  #page-footer {

    background:         -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#272727));
    padding:            4px;
    
    bottom:             0;
    height:             20px;
    width:              100%;
    
    font-weight:        200;
    font-size:          12px/14px;
    
    color:              #fff;

  }


  
  /*
    ============================================================================
      Canvas
    ============================================================================
  */
  #canvas-div {
    
    padding:            0;
    margin:             0;
    width:              100%;
    height:             100%;
    /*left:               0px;*/
    /*right:              0px;*/
    /*bottom:             0px;*/
    /*top:                0px;*/
    
    /*outline:            none;*/
    /*border:             -webkit-tap-highlight-color: rgba(255, 255, 255, 0);*/

  }
  #canvas-div:hover {
    background:     #ff0000;
  }
  
  
  /*
    ============================================================================
    Grid
    ============================================================================
  */

  #middle {
    padding:            5px;
    left:               5px;
    right:              5px;
    top:                40px;
    bottom:             25px;
    background:         orange;
  }
  
  #presets {
    float:              left;
    height:             100%;
    width:              200px;
    background:         yellow;
    border:             2px solid #666;
  }
  
  div.preset {
    display:            block;
    background:         blue;
    border:             2px solid teal;
    width:              100%;
    height:             30px;
  }

  label.preset {
    display:            inline-block;
    padding:            5px;
    height:             30px;
    width:              100%;
    float:              right;
    background:         white;
    color:              black;
  }
  
  button.preset {
    border:             none;
    display:            inline-block;
    padding:            0;
    height:             30px;
    width:              30px;
    float:              left;
    background:         white;
    color:              black;
  }
  
  /* Grid *************************/
  #grid {
    
    overflow:           hidden;
    
    margin:             0;
    padding:            0;
    
    height:             100%;
    
    background:         green;
    
    border:             2px solid #333;
    
  }
  
  /* Grid Header *************************/
  #grid-header {
    margin:             3px;
    padding:            0;
    left:               250px;
    right:              100px;
    top:                5px;
    height:             30px;
    background:         -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#383838));
    border:             1px solid white;
  }
  
  /* Grid Footer *************************/
  #grid-footer {
    margin:             3px;
    padding:            2px 2px 2px 10px;
    left:               250px;
    right:              100px;
    bottom:             100px;
    height:             30px;
    background:         -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#383838));
  }

  /* Shape Properties *************************/
  #shape-properties {
    font-weight:        600;
    font-size:          10px;
    margin:             0;
    padding:            3px;
    left:               220px;
    top:                43px;
    bottom:             33px;
    width:              202px;
    background:         #4a4a4a;
    border:             1px solid #444;
    border-radius:      5px;
    overflow:           auto;
  }
  #shape-properties:hover {
    border:             1px solid #333;
    background:         #3b3b3b;
  }

  /* Shape Properties Title *************************/
  #shape-properties-title {
    display:            block;
    font-weight:        400;
    font-size:          11px;
    text-align:         center;
    height:             20px;
    width:              100%;
  }
  #shape-properties-title:hover {
    color:              #fff;
  }
  
  /* Grid Menu *************************/
  #grid-properties {
    font-weight:        400;
    font-size:          10px;
    
    margin:             0;
    padding:            10px;

    top:                43px;
    right:              100px;
    width:              150px;
    bottom:             185px;
    /*height:             500px;*/
    
    border:             1px solid #444;
    border-radius:      5px;
    
    overflow:           auto;
    background:         #4a4a4a;
    
  }
  #grid-properties:hover {
    border:             1px solid #333;
    background:         #3b3b3b;
  }

  #grid-properties-title {
    display:            block;
    font-weight:        400;
    font-size:          11px;
    text-align:         center;
    height:             20px;
    width:              100%;
  }
  #grid-properties-title:hover {
    color:              #fff;
  }
  
  #grid-properties-toggle {
    top:                10px;
    right:              5px;
  }

  #shape-properties-toggle {
    top:                0px;
    left:               5px;
  }
  
  .dwg {
    margin:             3px;
    border:             1px solid green;
    background:         blue;
    width:              100%;
  }

  div.menu {
    display:            inline-block;
    position:           relative;
    margin:             0;
    padding:            0;
    left:               0px;
    right:              0px;
    width:              30px;
    height:             30px;
    background:         green;
  }

  div.menu:hover {
    cursor:             default;
  }

  .menuDrop {
    display:            absolute;
    margin:             0;
    padding:            0;
    left:               0;
    top:                20px;
    width:              100%;
    height:             10px;
    border:             1px solid green;
    background:         #ff0000;
  }
  .menuDrop:hover {
    background:         none;
    border:             1px solid #000;
    cursor:             pointer;
  }
  .menuDrop:focus {
    background:         black;
  }

  .shape1 {
    padding:            0;
    margin:             0;
    height:             20px;
    width:              100px;
    background:         none;
  }
  
  #shapeMenu {
    display:            inline-block;
    position:           default;
    margin:             3px 0 0 30px;
  }

  .highlight {
    border:             1px solid #222;
  }

  .highlight:hover {
    border:             1px solid #333;
  }

  .select {
    
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5 {
    display:            inline-block;
    margin:             0;
    padding:            0;
    /*border:             1px dotted #fff*/
  }
  
  .col-1 {
    padding:            0 0 0 7px;
    height:             16px;
    width:              48%;
  }
  .col-2 {
    height:             16px;
    width:              48%;
  }

  .col-3 {
    width:              75%;
    text-align:         top;
  }
  .col-4 {
    width:              12%;
    text-align:         top;
  }
  .col-5 {
    margin:             12px 0 0 0;
    width:              12%;
  }


  /*
    ========================================
      Horizontal Rule
    ========================================
  */
  hr {
  }
  hr.line {
    height:             1px;
    border:             0;
    margin:             10px 5px;
    border-top:         1px groove rgba(255, 255, 255, 0.5);
  }

  /*
    ========================================
    Rows
    ========================================
  */

  .row,
  .row-alt {
    min-width:          960px;
  }
  .row {
    background:         #fff;
    padding:            66px 0 44px 0;
  }
  .row-alt {
    background:         #cbe2c1;
    background:         -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background:            -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background:                 linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding:            44px 0 22px 0;
  }


  /*
    ========================================
    Typography
    ========================================
  */

  h1, h2, h3, h4 {
    color:              #648880;
  }
  h1, h3, h4, h5, p {
    margin-bottom:      22px;
  }
  h1 {
    font-size:          36px;
    line-height:        44px;
  }
  h2 {
    font-size:          24px;
    line-height:        44px;
  }
  h3 {
    font-size:          21px;
  }
  h4 {
    font-size:          18px;
  }
  h5 {
    color:              #a9b2b9;
    font-size:          14px;
    font-weight:        400;
    text-transform:     uppercase;
  }
  strong {
    font-weight:        400;
  }
  cite,
  em {
    font-style:         italic;
  }


  /*
    ========================================
    Links
    ========================================
  */

  a {
    color:              #aaa;
    text-decoration:    none;
    padding:            0 10px;
    font-weight:        200;
  }
  a:hover {
    color:              #fff;
  }
  p a {
    border-bottom:      1px solid #dfe2e5;
  }
  .primary-header a,
  .primary-footer a {
    color:              #fff;
  }
  .primary-header a:hover,
  .primary-footer a:hover {
    color:              #648880;
  }


  /*
    ========================================
      input[type="number"]s
    ========================================
  */
    input[type="number"] {
    font:               300 10px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:             0;
    padding:            0;
    border:             0px solid transparent;
    /*outline:          none;*/
    background:           transparent;
    color:              #ddd;
  }

    input[type="number"]:hover {
    color:              #fff;
  }

    input[type="number"].commands {
    font:               400 11px/12px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:            0 10px;
    color:              #888;
  }
    input[type="number"].commands:active {
    padding:            0 10px;
    color:              #fff;
  }

    input[type="number"].menu {
    font:               400 10px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:         center;
    padding:            0 5px;
    cursor:             pointer;
    color:              inherit;
  }

  #coordinates {
    position:           absolute;
    right:              10px;
    font:               900 14px/16px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing:     1px;
    line-height:        26px;
  }


  /*
    ============================================================================
    Sections
    ============================================================================
  */
  .settings {
    font:               600 10px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


  /*
    ============================================================================
    Input
    ============================================================================
  */
  input {
    font:               200 10px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:             0px solid transparent;
    outline:            none;
    background:         transparent;
    color:              #000;
    padding-right:      5px;
    padding-left:       5px;
  }
  input:hover {
    background:         gray;
  }
  input:focus {
    /*border:             1px solid #C0C0C0;*/
  }
  
  /* TEXT *********************************************************************/
  .buffer {
    padding:            0 5px;
    background:         transparent;
    color:              #fff;
  }
  .buffer:hover {
    background:         #666;
    color:              #000;
  }
  .buffer:focus {
    background:         #fff;
    color:              #000;
  }
  
  input[type="text"] {
  }
  input[type="text"]:hover {
  }
  input[type="text"]:focus {
  }

  input[type="text"].commands {
    font:               400 11px/12px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:            0 10px;
    /*color:              #000;*/
    border-radius:      5px;
    height:             20px;
    /*border:             1px solid #888;*/
    /*background:         gray;*/
  }
  input[type="text"].commands:hover {
    background:         #bbb;
  }
  input[type="text"].commands:focus {
    background:         #fff;
    border:             1px solid #222;
  }
  
  /* NUMBER *******************************************************************/
  input[type="number"] {
    font:               400 11px/12px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:         none;
    color:              white;
    text-align:         center;
  }
  input[type="number"]:hover {
    background:         gray;
    color:              black;
  }
  input[type="number"]:focus {
    background:         #fff;
    color:              black;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    cursor:             pointer;
    margin:             0;
  }
  
  /* COLOR ********************************************************************/
  input[type="color"] {
    -webkit-appearance: square-button;
    cursor:             pointer;
    height:             12px;
    border:             0px solid transparent;
    background:         transparent;
  }
  input[type="color"]:hover {
    /*color:              black;*/
    /*cursor:             pointer;*/
    /*border:             1px solid black;*/
  }
  input[type="color"]:focus {
    background:         transparent;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    margin:             0;
    padding:            0;
    border:             none;
    height:             8px;
    background:         transparent;
  }
  input[type="color"]::-webkit-color-swatch {
    /*opacity:          0.75;*/
    border:             none;
    height:             5px;
    margin:             0;
    padding:            0;
    background:         red;
    border-radius:      3px;
  }
  
  /* RANGE ********************************************************************/
  input[type="range"]{
    -webkit-appearance: none;
  }

  input[type="range"]:hover {
    outline:            none;
    background:         none;
    cursor:             pointer;
  }
  input[type="range"]:focus {
    background:         none;
    color:              #000;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    height:             5px;
    background:         gray;
    border:             none;
    border-radius:      3px;
    background:         -webkit-gradient(linear, left top, left bottom, from(#888), to(#666));
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    /*background:         #ddd;*/
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:         -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
    border:             1px solid #444;
    height:             12px;
    width:              12px;
    border-radius:      50%;
    /*background:         #222;*/
    margin-top:         -3px;
  }

  /* CHECKBOX *****************************************************************/
  input[type="checkbox"] {
    padding:            0;
    margin:             0;
    -webkit-appearance:none;
    border-radius:      2px;
    border:             double 1px #648880;
    width:              10px;
    height:             10px;
    cursor:             pointer;
    background:         transparent;
  }
  input[type="checkbox"]:checked {
    background-color:   #648880;
    /*border-left-color:#06F;*/
    /*border-right-color:#06F;*/
  }
  input[type="checkbox"]:hover {
    border:             double 1px #fff;
  }

  /* RADIO ********************************************************************/
  input[type="radio"] {
    /*-webkit-appearance:button;*/
    /*padding-left:     0px;*/
    /*padding-right:    0px;*/
    /*border-radius:    2px;*/
    /*margin:           3px;*/
    /*border:           double 1px #648880;*/
    /*background-color: #000;*/
    /*color:            #648880;*/
    /*white-space:        nowrap;*/
    /*overflow:           hidden;*/
    /*width:            10px;*/
    /*height:           10px;*/
    /*float:            left;*/
    /*text-align:         left;*/
  }
  input[type="radio"]:checked {
    background-color:   #648880;
    border-left-color:  #06F;
    border-right-color: #06F;
  }
  input[type="radio"]:hover {
    box-shadow:         0px 0px 10px #1300ff;
    cursor:             pointer;
  }

  button {
  }
  button:hover {
  }
  button:active {
  }

  button.toggle {
    display:            inline-block;
    outline:            none;
    background:         transparent;
    
    border:             none;
    border-radius:      5px;
    
    width:              20px;
    height:             20px;
    cursor:             pointer;
    
    padding:            0;
    margin:             0;
    
    color:              #888;
    text-align:         center;
    line-height:        10px;

  }
  button.toggle:hover {
    color:              #fff;
    box-shadow:         0 1px 2px rgba(0,0,0,.5);
    -webkit-transition: All 0.5s ease;
  }
  button.toggle:active {
    background:         -webkit-gradient(linear, left top, left bottom, from(#383838), to(#4a4a4a));
    color:              #888;
  }

  button.menu {
    display:            block;
    outline:            none;
    background:         green;
    
    border:             none;
    border-radius:      1px;
    
    width:              auto;
    height:             20px;
    cursor:             pointer;
    
    padding:            0;
    margin:             0;
    
    color:              #888;
    text-align:         center;
    line-height:        10px;

  }
  button.menu:hover {
    color:              #fff;
    box-shadow:         0 1px 2px rgba(0,0,0,.5);
  }
  button.menu:active {
    background:         -webkit-gradient(linear, left top, left bottom, from(#383838), to(#4a4a4a));
    color:              #888;
  }
  
  #right {
    /*display:            inline-block;*/
    -webkit-appearance: none;
    outline:            none;
    border:             double 1px #648880;
    border-radius:      5px;
    width:              20px;
    height:             20px;
    cursor:             pointer;
    padding:            0;
    margin:             0;
    font-size:          125%;
    background:         none;
    color:              yellow;
  }
  #left {
    /*display:            inline-block;*/
    -webkit-appearance: none;
    outline:            none;
    border:             double 1px #648880;
    border-radius:      5px;
    width:              20px;
    height:             20px;
    cursor:             pointer;
    padding:            0;
    margin:             0;
    font-size:          125%;
    background:         green;
    color:              orange;
  }
  
  /*.button.functions:focus {*/
  /*  background-color:   #648880;*/
  /*  border-left-color:#06F;*/
  /*  border-right-color:#06F;*/
  /*}*/
  /*.button.functions:hover {*/
  /*  border:             double 1px #fff;*/
  /*}*/
  
  /*
    ========================================
    Buttons
    ========================================
  */

  /*.button {*/
  /*  padding:            5px;*/
  /*  right:              10px;*/
  /*  top:                10px;*/
  /*  font-size:          16px;*/
  /*  outline:            none;*/
  /*  cursor:             pointer;*/
  /*  color:              #d7d7d7;*/
  /*  border:             solid 1px #333;*/
  /*  background:         #333;*/
  /*  background:         -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));*/
  /*  background:         -moz-linear-gradient(top,  #666,  #000);*/
  /*  filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');*/
  /*}*/
  /*.button:hover {*/
  /*  background:         #000;*/
  /*  background:         -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));*/
  /*  background:         -moz-linear-gradient(top,  #444,  #000);*/
  /*  filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');*/
  /*}*/
  /*.button:active {*/
  /*  color:              #666;*/
  /*  background:         -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));*/
  /*  background:         -moz-linear-gradient(top,  #000,  #444);*/
  /*  filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');*/
  /*}*/


  /*
    ========================================
    Logo
    ========================================
  */

  #logo {
    border-top:         3px solid #999;
    float:              left;
    font-size:          28px;
    font-weight:        200;
    letter-spacing:     .5px;
    line-height:        28px;
    padding:            0 0 0 30px;
    margin:             0;
    text-transform:     uppercase;
    color:              white;
    width:              205px;
    cursor:             pointer;
  }
  #logo:hover {
    /*border-top:       3px solid #ccc;*/
    font-weight:        200;
  }
  .tagline {
    margin:             66px 0 22px 0;
    text-align:         right;
  }
  .primary-nav {
    margin:             8px 0 0 0;
    font-size:          14px;
    font-weight:        400;
    letter-spacing:     .5px;
    text-transform:     uppercase;
  }


  /*
    ========================================
    Primary footer
    ========================================
  */

  .primary-footer {
    color:              #648880;
    font-size:          14px;
    padding-bottom:     44px;
    padding-top:        44px;
  }
  .primary-footer small {
    float:              left;
    font-weight:        400;
  }


  /*
    ========================================
    Navigation
    ========================================
  */

  .nav {
    text-align:         right;
  }
  .nav li {
    display:            inline-block;
    margin:             0 10px;
    vertical-align:     top;
  }
  .nav li:last-child {
    margin-right:       0;
  }

  img {
    color:              black;
    display:            inline-block;
    margin:             0;
    padding:            0;
  }

  img.menu {
    margin:             0;
    padding:            0;
    height:             30px;
    width:              30px;
    border:             1px solid transparent;
    vertical-align:     top;
    cursor:             pointer;
  }
  img.menu:hover {
    border:             1px solid #fff;
    background-color:   yellow;
  }
  img.menu:active {
    background:         red;
    /*margin:             1px 0 0 0;*/
  }

  img.middle {
    vertical-align:     top;
    padding:            0;
    margin:             0;
    cursor:             pointer;
  }
  
  div.inline {
    display:            inline-block;
    /*vertical-align:     middle;*/
  }

  div.commands {
    margin:             0;
    padding:            0;
    font:               400 12px/14px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:             0px solid gray;
    border-radius:      5px;
    background:         none;
    display:            inline-block;
    line-height:        24px;
  }

  div.menu {
    margin:             0;
    padding:            0;
    height:             30px;
    width:              30px;
    background-color:   none;
    border:             1px solid transparent;
    vertical-align:     top;
    cursor:             pointer;
  }

  li.top {
    display:            inline;
    height:             30px;
  }
  
  li {
    height:             50px;
  }
  li.menu {
    outline:            none;
    border:             red;
    height:             24px;
    background:         none;
    text-align:         left;
    color:              white;
    margin:             0;
    padding:            0;
  }
  li.menu:hover {
    color:              yellow;
  }
  li.menu:active {
    color:              blue;
  }
  
  li.menuH {
    outline:            none;
    border:             red;
    /*padding:            0px;*/
    height:             24px;
    width:              24px;
    background:         none;
    text-align:         left;
  }
  
  
  ul {
    border:             1px solid white;
    margin:             0;
    padding:            0;
  }
  
  /* The necessities */
  .onclick-menu {
    /*position:           relative;*/
    display:            inline-block;
    padding:            0;
    margin:             0;
  }
  .onclick-menu:before {
    /*content:            "Click me!";*/
  }
  .onclick-menu:focus {
    pointer-events:     none;
  }
  
  .onclick-menu:focus .onclick-menu-content {
    opacity:            1;
    visibility:         visible;
  }
  
  .onclick-menu-content {
    pointer-events:     auto;
    position:           absolute;
    z-index:            1;
  
    opacity:            0;
    visibility:         hidden;
    transition:         visibility 0.5s;
  }
  
  .onclick-menu.no-pointer-events {
    pointer-events:     auto !important;
  }
  
  .onclick-menu.no-visibility .onclick-menu-content {
    visibility:         visible !important;
    display:            none;
  }
  
  .onclick-menu.no-visibility:focus .onclick-menu-content {
    display:            block;
  }
  
  .onclick-menu.no-opacity .onclick-menu-content {
    opacity:            1 !important;
  }
  
  /*
  Eye candy
  ( colors courtesy of https://kuler.adobe.com/try-color-theme-3350110 )
  */
  .onclick-menu {
    padding:            0;
    margin:             0 0 1em 0;
    outline:            0;
  }
  .onclick-menu:before {
    padding:            0px 0px;
    background-color:   #94a4a5;
  }
  .onclick-menu-content {
    background-color:   #364656;
    background-color:   none;
    width:              200px;
  
    margin-top:         0px;
    margin-left:        0;
    padding:            0px;
  }
  
  /* arrow for the expanding part */
  .onclick-menu-content:before {
    content:            "";
    width:              0;
    height:             0;
  
    /*border-bottom:      0px solid #364656;*/
    /*border-left:        0px solid transparent;*/
    /*border-right:       0px solid transparent;*/
  
    /*position:           absolute;*/
    /*top:                0px;*/
  }
  
  .onclick-menu-content li {
    color:              #f2f5e9;
    list-style-type:    none;
    /*white-space:        nowrap;*/
    border:             1px solid green;
  }
  
  /* style the buttons */
  .onclick-menu-content button {
    background:         transparent;
    border:             none;
    color:              inherit;
    cursor:             inherit;
    outline:            0;
    cursor:             pointer;
  }
  .onclick-menu-content button:hover {
    color:              #ff8c31;
  }
  
  /* Codepen stuff */
  /*body {*/
  /*  text-align: center;*/
  /*  font-family: Arial, sans-serif;*/
  /*}*/
  /*.onclick-menu {*/
  
  /*  text-align: left;*/
  /*}*/
  /*h1 {*/
  /*  color: #c0c0c0;*/
  /*  margin-top: 5%;*/
  /*  font-weight: 400;*/
  /*}*/
