  /*
    ============================================================================
    input.css
    ============================================================================
  */
  input {

    /*-webkit-appearance: none;*/



  }
  
  input.property {

    -webkit-appearance: none;

    margin:             0;
    padding:            0;

    border:             none;
    
    outline:            none; /* focus highlight */
    
    background:         transparent;

    font:               400 11px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    color:              #000;
    
  }
  input.property:hover {
    
    /*background:         #555;*/
    
  }
  input.property:focus {
    
    /*background:         #eee;*/
    
  }

  /* TEXT *********************************************************************/
  input[type="text"].property {
    
    color:              #eee;
    
  }
  input[type="text"].property:hover {
    
    background:         #bbb;
    color:              #222;
    
  }
  input[type="text"].property:focus {
    
    background:         #fff;
    color:              #000;
    
  }
  
  input[type="text"].commands {
    
    /*font:               400 11px/12px "Ubuntu", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*padding:            0 10px;*/
    /*color:              #000;*/
    /*border-radius:      5px;*/
    /*height:             20px;*/
    /*border:             1px solid #888;*/
    /*background:         gray;*/
    
  }
  input[type="text"].commands:hover {
    
    /*background:         #bbb;*/
    
  }
  input[type="text"].commands:focus {
    
    /*background:         #fff;*/
    /*border:             1px solid #222;*/
    /*color:              #111;*/
    
  }
  
  /* NUMBER *******************************************************************/
  input[type="number"].property {

    color:              #fff;
    text-align:         center;
    
  }
  input[type="number"].property:hover {
    
    background:         #bbb;
    color:              #000;
    
  }
  input[type="number"].property:focus {
    
    background:         #eee;
    color:              #111;
    
  }
  input[type="number"].property::-webkit-inner-spin-button,
  input[type="number"].property::-webkit-outer-spin-button {
    
    cursor:             pointer;
    /*margin:             0;*/
    
  }

 /* COLOR *********************************************************************/
  input[type="color"].property {
    margin:             0;
    padding:            0;
    cursor:             pointer;
    /*background:         green;*/
  }
  input[type="color"].property:hover {
    background:         transparent;
  }
  input[type="color"].property:focus {
    background:         transparent;
  }
  input[type="color"].property::-webkit-color-swatch-wrapper {
    margin:             0;
    padding:            0;
    border:             none;
  }
  input[type="color"].property::-webkit-color-swatch {
    border:             none;
    height:             5px;
    margin:             8px 0 0 0;
    border-radius:      3px;
  }
  
  input[type="color"].grid {
    /*width:              80%;*/
    height:             12px;
    width:              12px;
    margin:             3px 0 0 0;
  }
  input[type="color"].grid::-webkit-color-swatch {
    border:             none;
    height:             90%;
    margin:             0;
    border-radius:      3px;
  }
  
  /* RANGE ********************************************************************/
  input[type="range"]{

  }

  input[type="range"]:hover {
    outline:            none;
    background:         none;
    cursor:             pointer;
    /*height:             16px;*/
  }
  input[type="range"]:focus {
    background:         none;
    color:              #000;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    height:             5px;
    background:         gray;
    border:             none;
    border-radius:      3px;
    background:         -webkit-gradient(linear, left top, left bottom, from(#888), to(#666));
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background:         #ddd;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:         -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
    background:         -webkit-radial-gradient(#333, #444);
    border:             1px solid #444;
    height:             12px;
    width:              12px;
    border-radius:      50%;
    /*background:         #222;*/
    margin-top:         -3px;
  }
  input[type="range"]::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    background:         -webkit-radial-gradient(#444, #333);
  }
  
  /* CHECKBOX *****************************************************************/
  input[type="checkbox"].property {

    -webkit-appearance:none;

    padding:            0;
    margin:             3px 0;

    /*border:             double 1px black;*/
    border-radius:      50%;
    outline:            none;
    
    width:              12px;
    height:             12px;

    cursor:             pointer;

    background:         red;
    background:         -webkit-radial-gradient(#dd0000, #aa0000);
    
  }
  input[type="checkbox"].property:checked {
    
    -webkit-appearance:none;
    background:         -webkit-radial-gradient(#00dd00, #00aa00);
    border:             double 1px transparent;
    /*border-left-color:#06F;*/
    /*border-right-color:#06F;*/
    
  }
  input[type="checkbox"].property:hover {
    
    border:             double 1px #777;
    
  }

  /* RADIO ********************************************************************/
  input[type="radio"] {
    /*-webkit-appearance:button;*/
    /*padding-left:     0px;*/
    /*padding-right:    0px;*/
    /*border-radius:    2px;*/
    /*margin:           3px;*/
    /*border:           double 1px #648880;*/
    /*background-color: #000;*/
    /*color:            #648880;*/
    /*white-space:        nowrap;*/
    /*overflow:           hidden;*/
    /*width:            10px;*/
    /*height:           10px;*/
    /*float:            left;*/
    /*text-align:         left;*/
  }
  input[type="radio"]:checked {
    /*background-color:   #648880;*/
    /*border-left-color:  #06F;*/
    /*border-right-color: #06F;*/
  }
  input[type="radio"]:hover {
    /*box-shadow:         0px 0px 10px #1300ff;*/
    /*cursor:             pointer;*/
  }
