  /* The necessities */
  .onclick-menu {

    margin:             2px;
    padding:            0;
    
    outline:            0;
    background:         orange;
    
    height:             30px;
    width:              30px;
  
    
  }
  .onclick-menu:focus {
    
    pointer-events:     none;
    
  }
  
  .onclick-menu:focus .onclick-menu-content {

    opacity:            1;
    visibility:         visible;
    
    /*background:         transparent;*/
    
  }
  
  .onclick-menu-content {
    
    padding:            0;
    margin:             0;
    
    display:            inline-block;
    position:           relative;
    
    top:                -32px;
    left:               30px;
    
    height:             auto;
    width:              auto;
    
    white-space:        nowrap;

    pointer-events:     auto;
    
    z-index:            1;
  
    opacity:            0;
    visibility:         hidden;
    transition:         visibility 0.5s;
    
    background:         #000;
    
    /*border:             1px dotted red;*/
    
    -webkit-transition: All 0.25s ease;
    
  }
  
  button.menu {

    -webkit-appearance: none;
    
    display:            inline-block;
    
    margin:             0 1px;
    padding:            0;

    border:             1px solid #000;
    outline:            none;

    cursor:             pointer;
    
    background:         #000;


    height:             50px;
    width:              50px;
    
    color:              #fff;

  }
  button.menu:hover {

    color:              #ff8c31;
    
    border:             1px solid #777;
    
  }
  
  img.menu {
    
    -webkit-appearance: none;
    
    margin:             0;
    padding:            0;

    border:             0px solid transparent;

    cursor:             pointer;

  }
