  /*
    ============================================================================
      menus.css
    ============================================================================
  */
  
  /* The necessities */
  .onclick-menu {

    margin:             0;
    padding:            0;
    
    outline:            none;
    
    height:             30px;
    width:              30px;
  
    visiblity:          none;
    
    background:         #222;
    
  }
  .onclick-menu:focus {
    
    pointer-events:     none;
    
  }
  
  .onclick-menu:focus .onclick-menu-content {

    opacity:            1;
    visibility:         visible;
    
    /*background:         transparent;*/
    
  }
  
  .onclick-menu-content {
    
    padding:            0;
    margin:             2px 0;
    
    display:            inline-block;
    position:           relative;
    
    top:                -33px;
    left:               30px;
    
    height:             30px;
    width:              auto;
    
    white-space:        nowrap;

    pointer-events:     auto;
    
    z-index:            1;
  
    opacity:            0;
    visibility:         none;
    transition:         visibility 0.5s;
    
    background:         #000;
    
    border:             1px solid #000;
    
    -webkit-transition: All 0.25s ease;
    
  }
  
  button.menu {

    -webkit-appearance: none;
    
    display:            inline-block;
    
    margin:             0;
    padding:            0;

    border:             none;
    outline:            none;

    cursor:             pointer;
    
    background:         #000;


    height:             30px;
    width:              30px;
    
    color:              #fff;

  }
  button.menu:hover {

    /*color:              #ff8c31;*/

    /*-webkit-transition: All 0.5s ease;*/

    /*border:             1px solid #aaa;*/

    /*background:         #333;*/
    
  }

  img.menu {
    
    -webkit-appearance: none;

    margin:             0;
    padding:            0;
    
    width:              28px;
    height:             28px;

    background:         #000;

    cursor:             pointer;

    border:             1px solid transparent;

  }
  img.menu:hover {

    -webkit-transition: All 0.25s ease;

    border:             1px solid #444;

    background:         #111;

  }
